# =========================================================================
# 专用于定时清理 Worker 配置 (cleanup-cron)
# =========================================================================
name = "cleanup-cron"
main = "index.js" 
compatibility_date = "2025-11-11"

# 绑定 KV Namespace
[[kv_namespaces]]
binding = "EXPIRING_LINKS"
id = "cf42c5796aeb4157a6c1f6bfc448f387" 
# 确保这个 ID 和您的链接生成 Worker 使用的 ID 相同

# 设置 Cron Trigger (定时任务)
[triggers]
crons = ["0 18 * * *"] 

# 设置环境变量 (包含硬编码的 API Key)
[vars]
SHORTIO_DOMAIN = "my66.short.gy"
SHORTIO_SECRET_KEY = "sk_YPuRTT4pnbTIwgjU" 
